@font-face {
    font-family: "fermosnter";
    src: url("../pagweb/tipografiaMo/MonsterEnergy.ttf");
}
@font-face {
    font-family: "bluetea";
    src: url("../pagweb/tipografiaMo/bluetea/Bluetea.ttf");
    font-size: xx-small;
}
@font-face {
    font-family: "honey";
    src: url("../pagweb/tipografiaMo/honey_latte_2/Honey\ Latte.ttf");
}
@font-face {
    font-family: "honey";
    src: url("../tipografiaMo/biograph/Biograph.otf");
}
@font-face {
    font-family: "honey";
    src: url("../tipografiaMo/green_london/Green\ London.ttf");
}
@font-face {
    font-family: "honey";
    src: url("../tipografiaMo/springtime_romance/Springtime\ Romance.ttf");
}
*header{background: rgba(0,0,0,0.7);
    width: 100%;
    position: fixed;
    z-index: 100;
  }
  
  nav {
    float: left;
  }
  
  nav ul {
    list-style: none;
    overflow: hidden; 
  }
  
  nav ul li {
    float: left;
    font-family: Arial, sans-serif;
    font-size: 16px;
  }
  nav ul li a {
    display: block;
    padding: 10px;
    color: #fff;
    text-decoration: none;
  }
  nav ul li:hover {
    background: #eca023;
  }
